<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">TRAINEE.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active">
                    {{#link-to 'home'}}HOME{{/link-to}}
                </li>
                <li>
                    {{#link-to 'about'}}ABOUT{{/link-to}}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            {{#link-to 'instalacao'}}ISNTALACOES{{/link-to}}
                        </li>
                        <li>
                            {{#link-to 'livros'}}LIVROS{{/link-to}}
                        </li>
                        <li>
                            {{#link-to 'comandos'}}COMANDOS{{/link-to}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

  {{outlet}}

<!-- *****************************************************************************************************************
FOOTER
***************************************************************************************************************** -->
<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Sobre</h4>
                <div class="hline-w"></div>
                <p>Este site foi criado por Trainees &nbsp;utilizando o &nbsp;framework Ember Js.<br></p>
            </div>
            <div class="col-lg-4">
                <h4>Encontre-nos no</h4>
                <div class="hline-w"></div>
                <p>Notebook, DeLL,<br>Intel Core i5, Linux,<br>Programando pra caramba.</p>
            </div>
        </div>
        <!--/row -->
    </div>
    <!--/container -->
</div>
<!--/footerwrap -->
