<!-- *****************************************************************************************************************
HEADERWRAP
***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Manda ver no GIT push</h3>
                <h1>Trainees</h1>
                <h5>Website preparatório para você Trainee<br></h5>
                <h5>Vai que é tua taffarel</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="assets/img/git.png" class="img-responsive">
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->

<!-- *****************************************************************************************************************
SERVICE LOGOS
***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <h4>Ember Js</h4>
                <p>Se você já teve a experiência de criar uma página web, com várias requisições ajax e modificações da interface de usuário, sabe que, em pouco tempo, o código vira um espaguete. Extremamente complicado de manter, principalmente quando há mais de uma pessoa trabalhando no projeto.<br></p>
                <p><br><a href="#" class="btn btn-theme">Treinamento</a></p>
            </div>
            <div class="col-md-4">
                <h4>Soap UI</h4>
                <p>SoapUI é uma ferramenta de Teste Funcional l de código aberto. Com uma interface gráfica fácil de usar, permite que você facilmente e rapidamente crie e execute testes funcionais. Em um ambiente de teste único, SoapUI oferece cobertura de teste e suporta todos os protocolos e tecnologias padrão.<br></p>
                <p><a href="#" class="btn btn-theme">Treinamento</a></p>
            </div>
            <div class="col-md-4">
                <h4>NativeScript</h4>
                <p>É mais uma tentativa de oferecer uma ferramenta que permita desenvolver aplicações multiplataforma especialmente focada em dispositivos móveis (iOS, Android e Windows). Ela é baseada em JavaScript e dá acesso às APIs nativas de cada plataforma de maneira uniforme.<br></p>
                <p><br><a href="#" class="btn btn-theme">Treinamento</a></p>
            </div>
            <div class="col-md-4">
                <h4>TDD e BDD</h4>
                <p>TDD e BDD são metodologias de desenvolvimento ágil. No TDD (Test Driven Development) o desenvolvimento deve ser guiado a testes, onde um teste unitário deve ser escrito antes que uma funcionalidade do sistema o seja.<br></p>
                <p><a href="#" class="btn btn-theme">Treinamento</a></p>
            </div>
        </div>
    </div>
    <!-- /container ---->
</div>
<!-- /service ---->
